.header-container {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1%;
        h1 {
            margin: 0;
        }
        nav {
            display: flex;
            align-items: center;
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: inline;
                    text-align: center;
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}